<a href="https://colab.research.google.com/github/binaryninja437/codealong1/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
data = pd.read_csv("/content/realworld_medical_dirty.csv")

In [30]:
print(data.head())

  Patient_ID   Age  Gender  Blood_Pressure  Cholesterol   BMI Smoker  \
0      P1000  55.0  FEMALE           120.0          NaN  35.4    Yes
1      P1001  65.0    Male           150.0        180.0  27.8    NaN
2      P1002  45.0    Male           120.0        220.0  22.5     No
3      P1003  65.0    Male             NaN        180.0  35.4     No
4      P1004  65.0    Male           120.0        300.0  40.1    NaN

       Diagnosis Admission_Date               Notes
0  Heart Disease     2023-12-27                 NaN
1            NaN     2023-01-01                 NaN
2            NaN     2023-12-14                 NaN
3            NaN     2023-07-09                 NaN
4            NaN     2023-07-10  Follow-up required

In [31]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      100 non-null    object
 1   Age             83 non-null     float64
 2   Gender          85 non-null     object
 3   Blood_Pressure  86 non-null     float64
 4   Cholesterol     80 non-null     float64
 5   BMI             80 non-null     float64
 6   Smoker          80 non-null     object
 7   Diagnosis       52 non-null     object
 8   Admission_Date  100 non-null    object
 9   Notes           57 non-null     object
dtypes: float64(4), object(6)
memory usage: 7.9+ KB
None

In [32]:
print(data.describe())

             Age  Blood_Pressure  Cholesterol        BMI
count  83.000000       86.000000    80.000000  80.000000
mean   47.168675      137.093023   226.750000  32.228750
std    13.619229       13.360722    43.217876   6.237437
min    25.000000      120.000000   180.000000  22.500000
25%    35.000000      120.000000   195.000000  27.800000
50%    55.000000      140.000000   220.000000  35.400000
75%    55.000000      150.000000   250.000000  36.575000
max    65.000000      160.000000   300.000000  40.100000

In [33]:
### Handling missing values

In [34]:
print(data.isnull().sum())

Patient_ID         0
Age               17
Gender            15
Blood_Pressure    14
Cholesterol       20
BMI               20
Smoker            20
Diagnosis         48
Admission_Date     0
Notes             43
dtype: int64

In [35]:
data = data.dropna()

In [36]:
print(data.head())

   Patient_ID   Age  Gender  Blood_Pressure  Cholesterol   BMI Smoker  \
5       P1005  35.0  Female           130.0        200.0  35.4      N
15      P1015  55.0    male           140.0        250.0  30.0      N
41      P1041  45.0    male           140.0        250.0  35.4     No
44      P1044  65.0    MALE           150.0        250.0  35.4     No
45      P1045  25.0    Male           140.0        300.0  40.1      Y

        Diagnosis Admission_Date               Notes
5   Heart Disease     2023-11-08  Follow-up required
15       Diabetes     2023-05-29         Checkup due
41  Heart Disease     2023-05-02  Follow-up required
44       Diabetes     2023-03-31  Follow-up required
45  Heart Disease     2023-05-16             Pending

In [37]:
data['Age'] = data['Age'].fillna(data['Age'].median())
print(data['Age'].head())

5     35.0
15    55.0
41    45.0
44    65.0
45    25.0
Name: Age, dtype: float64

In [38]:
data['Cholesterol'] = data['Cholesterol'].fillna(data['Cholesterol'].median())

In [39]:
print(data['Cholesterol'].head())

5     200.0
15    250.0
41    250.0
44    250.0
45    300.0
Name: Cholesterol, dtype: float64

In [40]:
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])
data['Smoker'] = data['Smoker'].fillna(data['Smoker'].mode()[0])

In [41]:
print(data['Gender'].head())
print(data['Smoker'].head())

5     Female
15      male
41      male
44      MALE
45      Male
Name: Gender, dtype: object
5      N
15     N
41    No
44    No
45     Y
Name: Smoker, dtype: object

In [42]:
### fix inconsistent data

In [43]:
data['Gender'] = data['Gender'].str.strip().str.lower()

In [44]:
print(data['Gender'].head())

5     female
15      male
41      male
44      male
45      male
Name: Gender, dtype: object

In [45]:
data['Gender'] = data['Gender'].replace({'male':'Male','female':'Female'})

In [46]:
print(data['Gender'].head())

5     Female
15      Male
41      Male
44      Male
45      Male
Name: Gender, dtype: object

In [47]:
data.head()

,Patient_ID,Age,Gender,Blood_Pressure,Cholesterol,BMI,Smoker,Diagnosis,Admission_Date,Notes
5,P1005,35.0,Female,130.0,200.0,35.4,N,Heart Disease,2023-11-08,Follow-up required
15,P1015,55.0,Male,140.0,250.0,30.0,N,Diabetes,2023-05-29,Checkup due
41,P1041,45.0,Male,140.0,250.0,35.4,No,Heart Disease,2023-05-02,Follow-up required
44,P1044,65.0,Male,150.0,250.0,35.4,No,Diabetes,2023-03-31,Follow-up required
45,P1045,25.0,Male,140.0,300.0,40.1,Y,Heart Disease,2023-05-16,Pending

In [48]:
#Cleaning Smoker Col

In [49]:
data['Smoker'] = data['Smoker'].str.strip().str.lower()
print(data['Smoker'].head())

5      n
15     n
41    no
44    no
45     y
Name: Smoker, dtype: object

In [51]:
data['Smoker'] = data['Smoker'].replace({'n':'No', 'no':'No', 'y':'Yes','yes':'Yes'})

In [52]:
print(data['Smoker'].head())

5      No
15     No
41     No
44     No
45    Yes
Name: Smoker, dtype: object

In [53]:
print(data.head())

   Patient_ID   Age  Gender  Blood_Pressure  Cholesterol   BMI Smoker  \
5       P1005  35.0  Female           130.0        200.0  35.4     No
15      P1015  55.0    Male           140.0        250.0  30.0     No
41      P1041  45.0    Male           140.0        250.0  35.4     No
44      P1044  65.0    Male           150.0        250.0  35.4     No
45      P1045  25.0    Male           140.0        300.0  40.1    Yes

        Diagnosis Admission_Date               Notes
5   Heart Disease     2023-11-08  Follow-up required
15       Diabetes     2023-05-29         Checkup due
41  Heart Disease     2023-05-02  Follow-up required
44       Diabetes     2023-03-31  Follow-up required
45  Heart Disease     2023-05-16             Pending

In [54]:
#Removes Duplicate

In [58]:
print('Duplicated Before', data.duplicated().sum())

Duplicated Before 0

In [56]:
data = data.drop_duplicates()

In [59]:
print('Duplicated After', data.duplicated().sum())

Duplicated After 0

In [61]:
# Fix Data Types (Dates should be 'datetime', numbers should be numericals)

In [64]:
data['Admission_Date'] = pd.to_datetime(data['Admission_Date'], errors='coerce')

In [66]:
data['Age'] = data['Age'].astype(int)

In [68]:
# Handeling outliers

In [71]:
Q1 = data['BMI'].quantile(0.25)
Q3 = data['BMI'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

data = data[(data['BMI'] >= lower) & (data['BMI'] <= upper)]

In [72]:
# Standarzie Data

In [73]:
data['Age_nm'] = (data['Age'] - data['Age'].min()) / (data['Age'] - data['Age'].max() - data['Age'].min())

In [74]:
data['BMI_nm'] = (data['BMI'] - data['BMI'].mean()) / data['BMI'].std()

In [75]:
# Save Data

In [76]:
data.to_csv('/content/realworld_medical_cleaned.csv', index = False)
print("Cleaned Data Saved")

Cleaned Data Saved